### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.hprof

### Eclipse ###
bin
eclipse
*.launch
.settings
.metadata
.classpath
.project

### IntelliJ IDEA ###
out
classes
*.ipr
*.iws
*.iml
**/.idea/*
!**/.idea/scopes
!.idea/gradle.xml

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/
.nb-gradle-properties

### Gradle ###
build
.gradle

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

### Other ###
run
.DS_Store
*.txt

# Log file
*.log

# BlueJ files
*.ctxt
